.panel{
	font-size: 15px;
}

label{
	width: 150px;
	padding-left: 50px;
	text-align: center;
	font-weight: normal;
}

input[type=text]{
	width: 150px;
	text-align: center;
}

input[type=number]{
	width: 150px;
	text-align: center;
}

.orderitems>label{
	text-align: center;
}

thead{
	background-color: #E0E4E4;
	font-weight: bold;
}

tbody{
	background-color: #FFFFFF;
}

h5{
	font-size: 16px;
	font-weight: bold;
}
form{
	border-style: none;
}

.btn-success,.btn-danger,.btn-info{
	float: right;
	margin: 4px;
	width: 85px;
}