
input[type=text]{
	width: 100px;
	text-align: center;
}
label{
	width: 230px;
	padding-left: 50px;
	font-weight: normal;
}

#idfrom{
	width: 150px;
	padding: none;
	text-align: center;
}

#idto{
	width: 150px;
	padding: none;
	text-align: center;
}

#search1{
	width: 150px;
	margin-left: 40px;
}

#search2{
	width: 150px;
	margin-left: 40px;
}

.row-md-12{
	background-color: #C1C3C4;
}

thead{
	background-color: #E0E4E4;
}

tbody{
	background-color: #FFFFFF;
}
h5{
	font-size: 16px;
	font-weight: bold;
}

/*.card-deck .card{
	background-color: #E9EAEA;
}*/

.card-title{
	font-size: 14px;
}

p{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.card i{
	color:green;
	text-align: center;
	margin-top: 20px;
	margin-left: 20px;"
}

.class-body-right h5{
	text-align: center;
}

#frmWorkSummery label{
	font-weight: bold;
	color: #982E2E;
}

#worksummery .card-title{
	color: #982E2E;
}

#frmAttSummery label{
	font-weight: bold;
	color: #9A6027;
}

#attsummery .card-title{
	color: #9A6027;
}

#worksummery{
	background-color: #F3EFEF;
}

#attsummery{
	background-color: #F4FAE1;
}

#frmAttSummery input{
	border:none;
	width: 140px;
}
#frmWorkSummery input{
	border:none;
	width: 140px;
}