.panel{
	font-size: 15px;

}

label{
	width: 155px;
	padding-left: 35px;
	text-align: center;
	font-weight: normal;
}

input{
	width: 140;
}

input[type=date]{
	width: 140px;
}

thead{
	background-color: #E0E4E4;
}

tbody{
	background-color: #FFFFFF;
}

#sec1>button{
	/*background-color: #839E9F;*/
	width: 100px;
	padding-left: 15px;
}
tbody{
	background-color: #FFFFFF;
}

h5{
	font-size: 16px;
	font-weight: bold;
}


form{
	border-style: none;
}