.panel{
	font-size: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.panel-body{
	/*background-color:#E6EFF0;*/
	border-radius: 4px;
}

#frmemp_allocation > label{
	width: 130px;
	padding-left: 5px;
	text-align: center;
	font-weight: normal;
}

#frmsearch > label{
	width: 130px;
	padding-left: 5px;
	text-align: center;
	font-weight: normal;
}

input{
	width: 150px;
}

input[type=date]{
	width: 140px;
}


thead{
	background-color:  #E0E4E4;
}


/*select{
	width: 100px;
}*/

#sec1>button{
	/*background-color: #839E9F;*/
	width: 100px;
	padding-left: 15px;
}
tbody{
	background-color: #FFFFFF;
}
h5{
	font-size: 16px;
	font-weight: bold;
}

.col-md-6 > label{
	font-weight: normal;
}